.*
.*/
data/ncbi_skin-metagenome_sampleIDs.txt
data/databases/bowtie2_db/*
!data/databases/bowtie2_db/README.md
results/skin-microbiome/0_data/0-1_raw_list/*
results/skin-microbiome/0_data/0-2_metadata/*
results/skin-microbiome/0_data/0-3_fastq_downloads/*
results/skin-microbiome/0_data/0-4_bowtie2_db/*
!results/skin-microbiome/0_data/**/README.md

src/__pycache__/
workflow/config/config.yaml
